* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

body {
    width: 50%;
    height: 100vh;
    background-color: black;
}

#logo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
    stroke-dasharray: 520;
}

#logo path:nth-child(2) {
    stroke-dasharray: 520; 
    stroke-dashoffset: 520;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 540; 
    stroke-dashoffset: 540;
    animation: line-anim 2s ease forwards 0.6s;

}

#logo path:nth-child(4) {
    stroke-dasharray: 503; 
    stroke-dashoffset: 503;
    animation: line-anim 2s ease forwards 0.9s;

}

#logo path:nth-child(5) {
    stroke-dasharray: 751; 
    stroke-dashoffset: 751;
    animation: line-anim 2s ease forwards 1.2s;

}

#logo path:nth-child(6) {
    stroke-dasharray: 326; 
    stroke-dashoffset: 326;
    animation: line-anim 2s ease forwards 1.5s;

}

#logo path:nth-child(7) {
    stroke-dasharray: 483; 
    stroke-dashoffset: 483;
    animation: line-anim 2s ease forwards 1.8s;

}

#logo path:nth-child(8) {
    stroke-dasharray: 466; 
    stroke-dashoffset: 466;
    animation: line-anim 2s ease forwards 2.1s;

}

#logo path:nth-child(9) {
    stroke-dasharray: 286; 
    stroke-dashoffset: 286;
    animation: line-anim 2s ease forwards 2.4s;

}

#logo path:nth-child(10) {
    stroke-dasharray: 196; 
    stroke-dashoffset: 196;
    animation: line-anim 2s ease forwards 2.7s;

}

#logo path:nth-child(11) {
    stroke-dasharray: 561; 
    stroke-dashoffset: 561;
    animation: line-anim 2s ease forwards 3.0s;

}

#logo path:nth-child(12) {
    stroke-dasharray: 466; 
    stroke-dashoffset: 466;
    animation: line-anim 2s ease forwards 3.3s;

}


@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
